@import '../Html/variables/variables.css';

.root {

  @mixin scontecss {
    font-weight: $.fontWeight.sans.bold;
    font-family: $.fontFamily.sans;
  }

  letter-spacing: 0.03em;

  color: white;


  padding-top: 0.8rem;
  padding-bottom: 0.7rem;

  ul {
    list-style: none;
    display: inline-block;
    white-space: nowrap;
    width: 100%;
  }
  ul, li {
    margin: 0;
    padding: 0;
  }
  li {
    padding-right: 1.4rem;
    display: inline-block;


    &:last-child {
      padding-right: 0;
    }
  }

  a:before {
    content: '';
  }
  :global(a.current) {
    color: white;
  }

}


:global .header.index {
  display: none;
}
