.root {
  padding-top: 0.8rem;
  padding-bottom: 0.7rem;

  ul {
    list-style: none;
    display: inline-block;
    white-space: nowrap;
    width: 100%;
  }
  ul, li {
    margin: 0;
    padding: 0;
  }
  li {
    padding-right: 3rem;
    display: inline-block;


    &:last-child {
      padding-right: 0;
    }
  }

  a:before {
    content: '';
  }

}


:global .header.index {
  display: none;
}
